<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">    
	<title></title>
</head>

<body>
    <h1>Twig test</h1>
	<p>Mon nom est {{name}}</p>
    <strong>Persons list :</strong>
    <ul>
    {% if persons is iterable %}
        {% for person in persons %}
            <li>{{person.getFirstName()}} {{person.getLastName()}}</li>
        {% endfor %}
    {% endif %}
    </ul>
</body>
</html>